nav + header {
  height: 400px;
  margin-top: 120px;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  background-color: #0066ff;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
  color: white;
}

@media only screen and (min-width: 1024px) {

  nav + header {
    width: 28vw;
    float: left;
    margin-top: 250px;
    margin-left: 50px;
  }
}