$main-background-color: #4056A1;
$secondary-background-color: #5e83ff;

nav {
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: $main-background-color;
  font-family: $secondary-font;
  color: white;
  padding: 1.5em;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1;
}

#compose {
  font-family: $main-font;
  border: 4px double white;
  padding: 10px;
  align-self: center;
  color: white;
  background-color: $main-background-color;
}

#compose:hover {
  background-color: $secondary-background-color;
  cursor: pointer;
  box-shadow: 8px 8px 0px 1px #003688;
}

#compose:focus {
  outline: none;
}

#compose:active {
  box-shadow: none;
}

@media only screen and (max-width: 1023px) {
  nav {
    background-color: #0066ff;
    background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
  }
}

@media only screen and (max-width: 480px) {
  #compose {
    font-size: 0.6em;
    width: 100px;
    height: 50px;
    padding: 5px;
  }
}