.new-tweet{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-bottom: 30px;
}

#tweet-text {
  width: 90vw;
  height: 48px;
  border: 0;
  border-bottom: 4px solid;
  resize: none;
  font-family: 'Source Sans Pro', 'sans-serif';
  font-size: 0.75em;
  font-weight: bold;
  background-color: #f4f1ec;
}

#tweet-text:focus {
  outline: 0;
}

#tweet-text::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #f4f1ec;
}

#tweet-text::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#tweet-text::-webkit-scrollbar-thumb
{
	border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #cec9c1;
}

textarea[id='tweet-text'] + div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: 'Bungee', 'sans-serif';
  padding-top: 10px;
}

button[type='submit'] {
  color: white;
  background-color: #4056A1;
}

button[type='submit']:hover {
  cursor: pointer;
  background-color: #5e83ff;
}

.negative-counter {
  color: red;
}