.new-tweet{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

#tweet-text {
  width: 90vw;
  height: 48px;
  border: 0;
  border-bottom: 4px solid;
  resize: none;
  font-family: 'Source Sans Pro', 'sans-serif';
  font-size: 0.75em;
  font-weight: bold;
  background-color: #f4f1ec;
}

#tweet-text:focus {
  outline: 0;
}

textarea[id='tweet-text'] + div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: 'Bungee', 'sans-serif';
  padding-top: 10px;
}

button[type='submit'] {
  color: white;
  background-color: #4056A1;
}

button[type='submit']:hover {
  cursor: pointer;
  background-color: #5e83ff;
}